<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form action="/scraper" method="post">
    <p>
        Argument a rechercher:<input type="text" name="argument">
        <input type="submit" value="Add tag">
    </p>
</form>
{% if arguments %}
    <ul>
        {% for argument in arguments %}
            <form action="/untrack" method="post">
                <p>
                    <input type="hidden" name="untracked" value="{{ argument }}">
                    {{ argument }}
                    <input type="submit" value="Untrack">
                </p>
            </form>
        {% endfor %}
    </ul>
{% endif %}
<div class="readUser" style="width:40%;height:250px;float:left;"></div>

<div class="savedUser" style="width:40%;height:250px;float:right;"></div>


<script src="/socket.io/socket.io.js" type="text/javascript"></script>
<script src="../public/javascript/scraperViewSocket.js" type="text/javascript"></script>
</body>
</html>