body
    div(class="readUser", style="width:250px;height:250px;float:left;")

    div(class="savedUser", style="width:250px;height:250px;float:right;")

    script(src="/socket.io/socket.io.js", type="text/javascript")
    script
        include ../../public/javascript/scraperViewSocket.js